# --- Security & Credentials ---
GoogleService-Info.plist
.env

# --- Hidden Business Logic ---

# Managers
UserManager.swift
StorageManager.swift
LocationManager.swift

# ViewModels

# Data Models
DBUser.swift
AuthDataResultModel.swift

# Helper Files
Validators.swift

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/

# --- Xcode Build & Cache ---
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcuserdatad
*.xcschememanagement.plist

# --- macOS System Files ---
.DS_Store

# User-specific Xcode data
**/xcuserdata/